<nav class="navbar">
  <div class="navbar-brand">
    <a href="" class="navbar-item">
      <img src="" alt="">
    </a>
  </div>
  <div id="barreDeNav" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" routerLink="/generations">Générations</a>
      <a class="navbar-item" routerLink="/pokemons">Pokémons</a>
    </div>
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a class="button is-primary is-small" routerLink="/creeCompte">Créer un compte</a>
          <a class="button is-primary is-light" routerLink="/seConnecter">Connexion</a>
        </div>
      </div>
    </div>
  </div>
</nav>
