<ul class="menu-list">
  <div *ngIf="pokemon">
    <img src="{{ pokemon.sprites.front_default }}" alt="" (click)="clicSurImage()" />
    <li>{{ pokemon.name | titlecase }}:</li>
    
    <li>
      Taille :<span *ngIf="pokemon.height; else na">
        {{ pokemon.height / 10 | number: "1.0-2" }} m</span
      >
    </li>
    <li>
      Poids :<span *ngIf="pokemon.weight; else na">
        {{ pokemon.weight / 10 | number: "1.0-2" }} kg</span
      >
    </li>
    <ng-template #na>N/A</ng-template>
  </div>
</ul>
